
.videoWrapper {
  width: 100%;
}
.video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}
.controls {
  flex: 1;
  position: relative;
  z-index: 20;
}
.controlsHeader {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 15px;
}
.controlsContent {
  flex: 1;
  padding: 0 15px;
  align-items: center;
}
.controlsFooter {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.controlsFooterText {
  padding: 0 15px;
}
.controlsButtonWrap {
  justify-content: center;
  align-items: center;
}