@mixin whiteFont {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
}
.videoWrapper {
  width: 100%;
  height: 280px;
  background-color: #000;
}
.video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 280px;
}
.controls {
  flex: 1;
  position: relative;
  z-index: 20;
}
.controlsHeader {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0,0,0,.7);
  height: 40px;
  padding-right: 15px;
}
.controlsContent {
  flex: 1;
  padding: 0 15px;
  align-items: center;
}
.controlsFooter {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,.7);
  height: 40px;
}
.controlsHeaderText {
  @include whiteFont;
}
.controlsContentText {
  @include whiteFont;
}
.controlsFooterText {
  @include whiteFont;
  padding: 0 15px;
}
.controlsButtonWrap {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.controlButton {
  line-height: 40px;
  color: #fff;
}